body{
    background-color: rgb(171, 174, 177);
    font-weight: 800;
    color:rgb(0, 0, 0);
    outline:22px 32px 34px 34px yellow;
    box-shadow: violet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:justify;
    text-decoration: solid;
    text-overflow: auto;
    animation: ;

}